@using BoardgameStore.Discover.Repositories
@using MicrofrontendFramework.Blazor
@inject IGameRepository GameRepository

@attribute [Fragment("homepage")]

<div class="container-fluid d-flex flex-wrap">
        @foreach (var game in GameRepository.GetAll())
        {
            <GameCard Game=@game/>
        }
</div>

@code{}
