@using BoardgameStore.Discover.Repositories;
@using BoardgameStore.Discover.Entities;
@inject IGameRepository GameRepository

@attribute [Fragment("recommended-games")]

<div class="container card p-5 d-flex flex-column mt-2 gap-2">
    <h3 class="mb-3">Recommended for you</h3>

    <div class="container-fluid d-flex flex-row">
        @foreach (var game in _games)
        {
            <GameCard Game=@game/>
        }
    </div>
</div>

@code{

    private IEnumerable<Game> _games = null!;

    protected override void OnInitialized()
    {
        _games = GameRepository.GetAll().OrderBy(_ => Random.Shared.Next()).Take(3);
    }

}