@using BoardgameStore.Order.Repositories
@using BoardgameStore.Order.Entities

@attribute [Fragment("game-actions")]

@inject IGameRepository GameRepository
@inject ICartRepository CartRepository

@if (!CartRepository.HasGame(_game))
{
    <button class="btn btn-outline-success" @onclick="_ => CartRepository.AddGame(_game)">
        <span class="oi oi-cart" aria-hidden="true"></span>
        Add to cart
    </button>
}
else
{
    <p class="py-2 mb-0 text-success">
        <span class="oi oi-check" aria-hidden="true"></span>
        Added to cart
    </p>
}

@code{

    [Parameter]
    public int GameId { get; set; }

    private Game _game;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _game = GameRepository.GetBy(GameId);
    }
}
