@using BoardgameStore.Order.Repositories

@attribute [Fragment("top-row-items")]


@inject ICartRepository CartRepository;

<a href="/cart" class="border-bottom" style="text-decoration: inherit; color: inherit;">
    <span class="oi oi-cart" aria-hidden="true"></span> 
    Cart
</a>

@code{

}
