@using BoardgameStore.Order.Repositories
@using BoardgameStore.Order.Context

@attribute [Fragment("top-row-items")]


@inject ICartRepository CartRepository;
@inject CartContext CartContext;

<a href="/cart" class="border-bottom d-flex flex-row align-items-center" style="text-decoration: inherit; color: inherit;">
    <span class="oi oi-cart" aria-hidden="true"></span>
    <span>Cart</span>
    <span class="badge rounded-pill bg-success ms-2">@CartRepository.ItemCount</span>
</a>

@code{


    protected override void OnInitialized()
    {
        // call state has changed to update the UI when context.cartupdated is invoked
        CartContext.CartUpdated += StateHasChanged;
    }

}