@using BoardgameStore.Order.Repositories
@using BoardgameStore.Order.Context
@using Microsoft.AspNetCore.Components.Routing;

@attribute [Fragment("nav-items")]

@inject ICartRepository CartRepository;
@inject CartContext CartContext;

<li class="nav-item px-3">
    <NavLink class="nav-link d-flex flex-row align-items-center" href="/cart">
        <span class="oi oi-cart" aria-hidden="true"></span>
        <span>Cart</span>
        <span class="badge rounded-pill bg-light text-success ms-2 px-2 py-1">@CartRepository.ItemCount</span>
    </NavLink>
</li>

@code{


    protected override void OnInitialized()
    {
        // call state has changed to update the UI when context.cartupdated is invoked
        CartContext.CartUpdated += StateHasChanged;
    }

}