@page "/orderconfirmation"

<div class="container card p-5 flex-column justify-content-center align-items-center">
    <p>Your order has been confirmed!</p>
    <span style="font-size: 5rem;" class="oi oi-circle-check text-success"></span>
</div>

@code { }
