@page "/game?id={Id}"
@using BoardgameStore.Discover.Repositories
@inject IGameRepository GameRepository;

@if (_game is null)
{
    <p>Woops, there is no game here. <a href="">Go back home.</a></p>
    return;
}

<h3>GameDetails</h3>

<ul>
    <li>
        <b>Name: </b> @_game.Name
    </li>
    <li>
        <b>Price: </b> €@_game.Price
    </li>
</ul>

@code {

    [Parameter]
    public string Id { get; set; }

    private Game _game;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (int.TryParse(Id, out var id))
        {
            _game = GameRepository.GetBy(id);
        }
    }
}
